*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: black;
}
body::-webkit-scrollbar {
    display: none;
}

html, body {
    overflow-x: hidden;
}