* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;

}


.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}
.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}
.text {
    gap: 1rem;
    text-align: center;
    font-size: 2rem;
}